version: '3'

services:
  scylla:
    image: scylladb/scylla
    container_name: scylla
    volumes:
      - scylla_data:/var/lib/scylla/data
      - ./migrations:/migrations
    ports:
      - 9042:9042
    restart: always

  ticker:
    build: .
    image: timkoopmans/scylla-crypto-ticker
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=scylla:9042
      - ROCKET_ADDRESS=0.0.0.0
    restart: always

volumes:
  scylla_data:
